@font-face {
  font-family: Helvetica;
  src: url(../fonts/HelveticaNowDisplay-Medium.woff);
}

html, body, main {
  font-family: 'Helvetica', Roboto,system-ui, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../images/bg/about.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.80);
  scrollbar-width: none;
}

/* #section_1 {
  flex: 1;
} */

.nav-link:hover {
  color: #fff !important; /* Cambia el color del texto a blanco */
}
