html, body {
  font-family: 'Roboto',system-ui, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #18222b; */
  background-image: url("../images/bg/Prediction.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.80);
}

#section_1 {
  flex: 1;
}

.nav-link:hover {
  color: #fff !important;   
}
